<div style="height:520px; overflow:auto;">
<h1 style= "font-family:Arial, Helvetica, sans-serif;">
Learning Center
</h1>
<div class="container" style="display: flex; height: 130px; width:100%; padding:0; margin:0;font-family:Arial, Helvetica, sans-serif;"[routerLink]="['/video']">
        <div style=" background:#7CE1E8;width:50%">
        <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/youtube-512.png" width="100" height="80"style="position:relative">
        </div>
        <div style=" background: #7CE1E8; width:50%; text-align:center">
          <p>
            Youtube Video
            </p>
        </div>
    </div>
    <div class="container" style="display: flex; height: 130px; width:100%; padding:0; margin:0;font-family:Arial, Helvetica, sans-serif;"[routerLink]="['/website1']">
        <div style=" background:yellow;width:50%">
        <img src="https://drexel.edu/~/media/Images/cnhp/logos/CNHP_logo_Lrg.ashx?la=en" width="200px" height="120px"style="position:relative">
        </div>
        <div style=" background: yellow; width:50%; text-align:center">
          <p>
            Information about Agewell
            </p>
        </div>
    </div>
    <div class="container" style="display: flex; height: 130px; width:100%; padding:0; margin:0;font-family:Arial, Helvetica, sans-serif;"[routerLink]="['/website2']">
        <div style=" background:orange;width:50%">
        <img src="https://cdn.shopify.com/s/files/1/0874/5798/t/5/assets/sidebar_logo.png?v=13210041763226996558" width="100" height="120"style="position:relative">
        </div>
        <div style=" background: orange; width:50%; text-align:center">
          <p>
            Buy resources to help you 
            </p>
        </div>
    
            
      
        
          
          </div>