
<table>
    <tr>
        <td class="d1"[routerLink]="['/settings']">
          <img src="https://www.pinclipart.com/picdir/middle/249-2495416_settings-cog-smooth-settings-cog-smooth-settings-cog.png" width="50" height="50">
            
            <div class="copy"></div>
        </td>
        <td class="d2">
            <img src="https://store-images.s-microsoft.com/image/apps.44835.14618534963616247.ff82bb7e-702e-41fe-b04a-f69ffcb9ca91.7636be16-7c9b-439e-8007-f2c2dc788170?mode=scale&q=90&h=300&w=300" width="50" height="50">
        </td>
        <td class="d3"[routerLink]="['/home']"style="text-align:center"><img src="https://img.favpng.com/1/24/13/computer-icons-home-button-sign-png-favpng-tPJMW0EeRDiccTmwWAGv0hVsS.jpg" width="50" height="50"></td>
    </tr>
</table>

