<div style="height:520px; overflow:auto">
<p>
Drexel University
</p>
<p>
1601 Cherry St,
</p>
<p>
Rm 223, Ms 21041,
</p>
<p>
Philadelphia, PA 19102
</p>
<p>
  Director:Arun Ramakrishnan
</p>
<p>
  Phone (O): <a href="tel:+2155537018">215-553-7018</a>
</p>
<p>
Email: <a href="mailto:arun@drexel.edu?Subject=Safe%20at%20Home%20Question" target="_top">arun@drexel.edu</a>
</p>
<h1>
  Send a messagee
  </h1>
   Email:<input #textbox type="text" [(ngModel)]="emailValue" ><br>
   Body:<input #textbox type="text" [(ngModel)]="bodyValue" style="width:50em;height:10em">
        <button (click)="logText(textbox.value)">Send</button>
        <button (click)="textValue=''">Clear</button>
</div>
