<body style="padding:0;margin:0">
<div class="container" style="display: flex; height: 130px; width:100%; padding:0; margin:0">
        <div style=" background:#7CE1E8;"class="column1"[routerLink]="['/eval']">
        <img src="https://1001freedownloads.s3.amazonaws.com/vector/thumb/84148/1332757879.png" width="100" height="80"style="position:relative">
        <p>
            Home Safety Evaluation
            </p>
        </div>
        <div style=" background: #E4A74D;"class="column2">
        </div>
    </div>
    <div class="container" style="display: flex; height: 130px;">
        <div class="column1"style=" background: #1DA52B;">
            
        </div>
        <div class="column2"style="flex-grow: 1; background: #EFF369;"[routerLink]="['/learning']">
         <img src="https://www.pinclipart.com/picdir/middle/78-784115_teaching-and-learning-with-technology-proceedings-clipart.png" width="100"height="80">
         <p>
            Learning Center
            </p>
            
        </div>
    </div>
    <div class="container" style="display: flex; height: 130px;">
        <div style=" background: #4F89BC;" class="column1"[routerLink]="['/transition']">
         <img src="https://www.clipartmax.com/png/middle/16-162973_home-family-house-design-happy-blue-pictogram-family-clip-art.png" width="100" height="80">
         <p>
            Home Transition Program
            </p>
        </div>
        <div style="background:#7CE1E8;"class="column2">
        </div>
    </div>
    <div class="container" style="display: flex; height: 130px;text-align:center">
        <div style=" background: #E4A74D;" class="column1">
        </div>
        <div style=" background: #1DA52B;" class="column2"[routerLink]="['/contact']">
         <img src="https://drexel.edu/~/media/Images/virtual-tour/locations/three-parkway-mobile.ashx?h=242&la=en&w=329&hash=7152E592828332B577BBA611DB1A4B56D2B0E70B" width="100" height="80">
         <p>
            Contact Us</p>
        </div>
    </div>
</body>
